[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geysertimes"]
	path = geysertimes
	url = https://github.com/geysertimes/geysertimes-r-package
